{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="site-blocks-cover" style="background-image: url({% static 'images/hero_1.jpg' %});" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2">Finding Your Perfect Shoes</h1>
            <div class="intro-text text-center text-md-left">
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
              <p>
                <a href="#" class="btn btn-sm btn-primary">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          {% for product in product  %}
          <div class="col-md-12">
            
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="{{product.image.url}}" alt="Image placeholder" class="img-fluid" width="80px" height="80px">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">{{product.name}}</a></h3>
                    <p class="mb-0">{{product.category}}</p>
                    <p class="text-primary font-weight-bold">${{product.price}}</p>
                    <p>
                      <a href="{% url 'add' product.id %}" class="btn btn-sm btn-primary">Add to cart</a>
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock  %}
