{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
            <div class="col-md-6 mb-3 mb-md-4">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Name">
            </div>
            <div class="col-md-6 mb-3 mb-md-4">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Email">
            </div>
            <div class="col-md-6 mb-3 mb-md-4">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Password">
            </div>
            <div class="col-md-6 mb-3 mb-md-4">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Confirm Password">
            </div>
    </div>
    <a class="btn btn-sm btn-primary float-right text-light">Register</a>
</div>
    
{% endblock %}